<%- include ('partials/base.html') -%>

<!--nav-->

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar p-3" >
   
    <a class="navbar-brand" href="#"><img class="mr-1 mb-1" src="img/blockchain.svg" class="img-fluid mb-1" width="20px"><b>Portfolio</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-scroll href="#introduccion">Introducción </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-scroll href="#academica">Formación Acádemica</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-scroll href="#experiencia">Experiencia Laboral</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-scroll href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-scroll href="#certificados">Certificados</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " data-scroll href="#contactame">Contactame</a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="view intro-2" >
    <div class="full-bg-img">
      <div class="mask rgba-black-strong flex-center">
        <div class="container text-center white-text wow fadeInUp font">
          <h1 class="animate__animated animate__backInLeft">Bienvenidos a mi Portafolio</h2>
          <br>
          <h5></h5>
          <h5 class="animate__animated animate__backInRight">Hola, soy Rafa! Y busco a través de esta medio, lograr presentarme personal y profesionalmente.</h5>
          <br>
          <h5 class="animate__animated animate__backInUp">Cualquier consulta, no dudes en comunicarte conmigo.</h5>
          
        </div>
      </div>
    </div>
  </div>
</header>

<!--Content --> 
<div class="content ">

<!--Introduccion-->
<section id="introduccion">
            <div class="flex-center animate__animated animate__backInLeft">
              <div class="container text-center my-5 font">
                <div class="col-xl-12 p-5 my-5">
                  <h2><b>Murua Mancuello, Gabriel Rafael</b></h2>
                <hr class="black">
                <h5>Comentandoles un poco sobre mi, tengo 24 años y soy de la provincia de La Rioja, Argentina, hace poco me recibi de Ingeniero en Sistemas de información, para ser mas exacto en Diciembre del año pasado, me gusta los deportes, viajar y googlearlo todo jaja, como profesional me considero responsable, perfeccionista, y algunas veces un poco obsesivo. Como algo en contra puedo decir que soy un poco distraido y algo timido al comienzo, aunque siempre busco dar lo mejor de mi y resolver lo que se me presente. Gracias por leer esto y espero tu mensaje.</h5>
                </div>
              </div>
            </div>
</section>

<!--Informacion Academica-->
<section id="academica" class="color-1 diagonal-1 padding-1 my-5">
<div class="container my-5 animate__animated animate__backInUp">
  <div class="col-xl-12 text-white p-5 my-5">  
    <h4><b>Universidad Nacional de La Rioja (UNLaR)</b></h4>
    <h5>Ingeniería en Sistemas de Información (2014 -2019)</h5>
    <h6>Promedio: 7.52</h6>
    <h6>(Título en Trámite)</h6>
    <hr class="my-4 white">
    <h4><b>Colegio Provincial N°1 "Joaquín V. González"</b></h4>
    <h5>(2008-2013)</h5>
    <h6>Título: Secundario - Orientación: Ciencias Sociales</h6>
</div>
</div>
</section>

 
<!--Experiencia Laboral-->
<section class="first" id="experiencia">
  <div class=" container">

<div class="row">
<div class="col-md-12">

  <!-- Stepers Wrapper -->
  <ul class="stepper stepper-vertical animate__animated animate__backInRight">

  

   <div class="row">
     <div class="col-md-6">
        <!-- First Step -->
    <li class="completed des-4">
      <a href="#!">
        <span class="circle">1</span>
        <span class="label text-white"></span>
      </a>
      <div class="step-content grey lighten-3 ">
        <h4>Instructor IT Essentials: PC Hardware and Software</h4>
        <p>Universidad Nacional de La Rioja (UNLaR)</p>
        <p>Dictado de curso de preparación para certificación CompTIA A+ de Cisco </p>
        <p><b>(05/2020-Act)</b></p>
      </div>
    </li>

      <!-- First Step -->
      <li class="completed des-4">
        <a href="#!">
          <span class="circle">2</span>
          <span class="label text-white"></span>
        </a>
        <div class="step-content grey lighten-3">
          <h4>Desarrollo y Despliegue de Aplicaciones Web</h4>
          <p>Freelancer</p>
          <p>Tecnonlogías: HTML, CSS, Bootstrap, Material Design, Materialize, Javascript, Django, Nodejs, Postgresql, MongoDB, Heroku, Netlify.</p>
          <p><b>(2019 - Act)</b></p>
        </div>
      </li>
     </div>
     <div class="col-md-6">
       <!-- Second Step -->
  
    <li class="completed des-4">

      <!--Section Title -->
      <a href="#!">
        <span class="circle">3</span>
        <span class="label text-white"></span>
      </a>

      <!-- Section Description -->
      <div class="step-content grey lighten-3">
        <h4>Mantenimiento Preventivo de Software y Hardware</h4>
        <p>Emprendimiento Privado</p>
        <p><b>(2019 - Act)</b></p>
      </div>
    </li>
    <li class="completed des-4">

      <!--Section Title -->
      <a href="#!">
        <span class="circle">4</span>
        <span class="label text-white"></span>
      </a>

      <!-- Section Description -->
      <div class="step-content grey lighten-3">
        <h4>Pasantía - Área de Networking</h4>
        <p>Internet Para Todos - Proveedor de Servicios de Internet (La Rioja)</p>
        <p>Tecnologias: OpenWRT, SSH, DNS, VPN, FreeRadius, NFS, Samba, entre otros.</p>
        <p><b>(04/2019 - 11/2019)</b></p>
      </div>
    </li>
     </div>
   </div>

  


  </ul>
  <!-- /.Stepers Wrapper -->

</div>
</div>


  </div>
</section>

<!--Skills-->
<section id="skills" class="diagonal-2 color-2 padding-1">
  <div class="container my-5">
      <div class="row p-5 my-5">
          <div class="col-md-2 des-1">
              <div><i class="fab fa-html5 fa-7x"></i></div>
          </div>
          <div class="col-md-2 des-1">
            <div><i class="fab fa-css3-alt fa-7x"></i></div>
          </div>
          <div class="col-md-2 des-1">
            <div><i class="fab fa-js-square fa-7x"></i></div>
          </div>
          <div class="col-md-2 des-1">
            <div><i class="fab fa-python fa-7x"></i></div>
          </div>
          <div class="col-md-2 des-1">
            <div><i class="fab fa-node-js fa-7x"></i></div>
          </div>
          <div class="col-md-2 des-1">
            <div><i class="fab fa-react fa-7x"></i></div>
          </div>
      </div>
    
  </div>
</section>
 
<!--Certificados-->
<section id="certificados" class="padding-1">
  <div class="container p-5 my-5" >
      <!-- Horizontal Steppers -->
<div class="row">
<div class="col-md-12">

  <!-- Stepers Wrapper -->
  <ul class="stepper stepper-horizontal oculto-1">

    <!-- First Step -->
    <li class="completed">
      <a>
        <span class="circle">1</span>
        <span class="label"></span>
      </a>
    </li>

    <!-- Second Step -->
    <li class="completed">
      <a href="">
        <span class="circle">2</span>
        <span class="label"></span>
      </a>
    </li>

    <!-- Third Step -->
    <li class="completed">
      <a href="">
        <span class="circle">3</span>
        <span class="label"></span>
      </a>
    </li>

  </ul>
  <!-- /.Stepers Wrapper -->

</div>
</div>
<div class="row des-2">
<div class="col-md-4">
  <div class="step-content grey lighten-3">
    <h4>Desarrollo Fro nt End con React</h4>
    <h6>Cluster Tecnologico Catamarca</h6>
    <h6>2020 - En proceso</h6>
   
  </div>
</div>
<div class="col-md-4 des-3">
  <div class="step-content grey lighten-3">
    <h4>Programación con JavaScript</h4>
    <h6>Cluster Tecnologico Catamarca</h6>
    <h6>2020 - En proceso</h6>
  </div>
</div>
<div class="col-md-4 des-3">
  <div class="step-content grey lighten-3">
    <h4>IT Essentials: PC Hardware and Software</h4>
    <h6>Cisco Networking Academy</h6>
    <h6>2020</h6>
  </div>
</div>
</div>
<!-- /.Horizontal Steppers -->
  </div>
</section>

<!--Contactame-->
<section id="contactame" class="text-white color-2 padding-1">

  
  <div class="row my-5 p-5">
  
      <!--Grid column-->
      <div class="col-md-9">
         <!-- Default form contact -->
         <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-6 mb-3 color-3">
              <label for="validationCustom01"><b>Nombre Completo</b></label>
              <input type="text" class="form-control" id="validationCustom01" 
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Error!
              </div>
            </div>
            <div class="col-md-6 mb-3 color-3">
              <label for="validationCustom02"><b>Email</b></label>
              <input type="email" class="form-control" id="validationCustom02" 
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Error!
              </div>
            </div>
            <div class="col-md-12 mb-3 color-3">
              <label for="validationCustom02"><b>Motivo</b></label>
              <input type="text" class="form-control" id="validationCustom02" 
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Error!
              </div>
            </div>
          <div class="col-md-12 mb-3 color-3" >
              <label for="validationCustom02"><b>Mensaje</b></label>
              <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" required></textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                <b>Error!</b>
              </div>
            </div>
          </div>
          
          
          <button class="btn color-1 btn-sm des-5" type="submit">Enviar</button>
        </form>
<!-- Default form contact -->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-3 text-center color-3">
          <ul class="list-unstyled mt-4 ">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p class="mt-1">Tartagal 224, La Rioja, ARG.</p>
              </li>
  
              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p class="mt-1">+543804264701</p>
              </li>
  
              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p >rafaelmuruamancuello@gmail.com</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->
  
  </div>
  
</section>


 </div>
 

</div>

<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small color-1 ">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- Footer -->
  