
.view {
    background: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")no-repeat center center; 
    background-size: cover;    
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #212121;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #212121;
    }
    .des-1{
        position: relative;
        margin-left: 65px;
    }

    .oculto-1{
        display: none;   
    }

    .des-2{
        position: relative;
        margin-top: 100px;
    }
    .des-3{
        position: relative;
        margin-top: 30px;
    }
    .des-4{
        position: relative;
        margin-right: 30px;
    }
    .des-5{
        position: relative;
        margin-left: 75px;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

.diagonal-1{
    transform: skewY(2deg); 
} 
.diagonal-2{
    transform: skewY(-2deg); 
} 

.padding-1{
    padding: 10px;
}

.color-1{
    background-color: #1C2331 !important;
}

.color-2{
    background-color: #3F729B !important;
}

.color-3{
    color: #1C2331 !important;
}


.vl {
    border-left: 1px solid black;
    height: 200px;
  }

button:hover{
    color: white !important
}

